body {
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    background-color: crimson;
}
.status{
    text-align: center;
    color: black;
    font-size: 20px;
    font-style: italic;
}
.sub-title{
    text-align: center;
    background-color: crimson;
    color: white;
    font-weight: bold;
}
ul{
    padding-left: 0;
    text-align: center;
    list-style-type: none;
}
.ye{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


