*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(12, 12, 12);
}
p{
    font-size: 12px;
    color:white;
}
h1{
    font-size: 25px;
    font-weight: bold;
    color:white;
    text-align: center;
}
h2{
    text-align: center;
    color: white;
    font-weight: 25;
    font-size: 16px;
}
.sub-title{
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: white;
    text-align: center;
}
span{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color:dodgerblue;
}